CompileFlags:
  Add: [-std=c++17]
  Remove: [-flto*]

# -I/home/harry/anaconda3/include/python3.9,
Diagnostics:
  Suppress:
    [
      unused-but-set-parameter,
      unused-parameter,
      unused-variable,
      unused-command-line-argument,
    ]
  ClangTidy:
    Remove: [
        readability-math-missing-parentheses,
        modernize-use-trailing-return-type,
        readability-braces-around-statements,
        readability-identifier-length,
        readability-implicit-bool-conversion,
        readability-else-after-return,
        readability-isolate-declaration,
        bugprone-easily-swappable-parameters,
        performance-avoid-endl,
        bugprone-casting-through-void, # for MPI types...
        performance-enum-size,
        modernize-type-traits,
        modernize-avoid-c-arrays,
        readability-magic-numbers,
        readability-convert-member-functions-to-static,
        readability-avoid-nested-conditional-operator,
      ]
    Add: [
        modernize-*,
        readability-*
        bugprone-*,
        performance-*,
        cppcoreguidelines-*
        google-build-using-namespace,
        mpi-*,
        openmp-*,
      ]
